*.root
*.h5
*.h5py
*.hdf5
*.pyc
.init2p7

.plt
plt
tmp
venv
.git

dataloc
repo
training/*
outfiles/*
plots/*
checkpoints/*

Root2HDF5/make_set?.py
Root2HDF5/r2h_syst?.py
Root2HDF5/run_ms?.sh
Root2HDF5/run_r2h?.sh
Root2HDF5/dataloc
Root2HDF5/dat/*
